@*@model TatBlog.WebApp.Areas.Admin.Models.CategoryFilterModel*@
@model IPagedList<TagItem>
@{
    ViewData["PageTitle"] = "Danh sách thẻ";
    var tagsList = Model;

    //var tagsList = ViewBag.TagsList as IPagedList<TagItem>;
  
}

<h1>
    Danh sách thẻ
</h1>

<!-- Hiển thị Form để tìm bài viết -->
<partial name="_TagFilterPane" />

<style>
    tr th:nth-last-child(-n+2){
        text-align:center;    
    }

    tr td:nth-last-child(-n+2) {
        text-align: center;
    }
</style>


@if (tagsList != null && tagsList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tên thẻ</th>
                <th>Số bài viết</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tagsList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                   asp-controller="Tags"
                   asp-action="Edit"
                   asp-route-id="@tag.Id"
                           class="text-bold">
                            @tag.Name
                        </a>

                        <p class="text-muted">
                            @tag.Description
                        </p>
                    </td>
                    <td>
                        @tag.PostCount
                    </td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Tags"
                           asp-action="DeleteTag"
                           asp-route-id="@tag.Id"
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('Bạn muốn xóa thẻ này không ?');">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
    </script>

    <partial name="_PagerAdmin" model="@tagsList"></partial>
}
else
{
    <h1 class="text-danger">
        Không tìm thấy thẻ nào
    </h1>
}