@model IPagedList<Subscriber>
@{
    ViewData["PageTitle"] = "Danh sách người đăng ký";
    var subscribersList = Model;
}

<h1>
    Danh sách người đăng ký
</h1>


<style>
    tr th:nth-last-child(-n+2) {
        text-align: center;
    }

    tr td:nth-last-child(-n+2) {
        text-align: center;
    }
</style>


@if (subscribersList != null && subscribersList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Ngày đăng ký</th>
                <th>Trạng thái</th>
                <th>Ngày hủy đăng ký</th>
                <th>Loại hủy</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subscriber in subscribersList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                   asp-controller="Subscribers"
                   asp-action="Edit"
                   asp-route-id="@subscriber.Id">
                            @subscriber.Email
                        </a>

                        <p class="text-muted">
                            @subscriber.Notes
                        </p>
                    </td>
                    <td>
                        <p class="text-bold">
                            @subscriber.SubscribeDate
                        </p>
                    </td>
                    <td>
                        <a asp-area="Admin"
                            asp-controller="Subscribers"
                   asp-action="BlockSubscriber"
                   asp-route-id="@subscriber.Id"
                           class="btn btn-sm @(subscriber.TypeReason == null ? "btn-success" : subscriber.TypeReason == true ? "btn-secondary" : "btn-danger")"
                           onclick="">
                            @if (subscriber.TypeReason == null)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else if (subscriber.TypeReason == true)
                                        {
                                        <i class="fa fa-times"></i>
                                        }
                            else
                            {
                                <i class="fa fa-ban"></i>
                            }
                        </a>
                    </td>

                    <td>
                        @subscriber.UnsubscribeDate
                    </td>
                    <td>
                        @subscriber.ResonUnsubscribe
                    </td>

                    <td>
                        <a asp-area="Admin"
                   asp-controller="Subscribers"
                   asp-action="DeleteSubscriber"
                   asp-route-id="@subscriber.Id"
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('Bạn muốn xóa người đăng ký này không ?');">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
    </script>

    <partial name="_PagerAdmin" model="@subscribersList"></partial>
}
else
{
    <h1 class="text-danger">
        Không tìm thấy người đăng ký nào
    </h1>
}