@model IList<PostItem>

<div class="mb-4">
	<h3 class="text-success mb-2">
		Kho lưu trữ
	</h3>

	<ul class="list-group">
		@foreach (var item in Model)
		{
			<li class="list-group-item">
				<a asp-area="" asp-controller="Blog"
					asp-action="Archives"
					asp-route-year="@item.Year"
					asp-route-month="@item.Month"
		  title="@DateTime.ParseExact(@item.Year + "-" + (@item.Month.ToString()).PadLeft(2, '0')+"-01", "yyyy-MM-dd",
                                       System.Globalization.CultureInfo.InvariantCulture).ToString("MMMM") @item.Year">
					@DateTime.ParseExact(@item.Year + "-" + (@item.Month.ToString()).PadLeft(2, '0')+"-01", "yyyy-MM-dd",
                                       System.Globalization.CultureInfo.InvariantCulture).ToString("MMMM") @item.Year
					<span>(@item.PostCount)</span>
				</a>
			</li>
		}
	</ul>
</div>